<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<form action="/noticia/salvar" method="post">
			<label for="Titulo">Tíulo da notícia</label>
			<input type="text" id="titulo" name="titulo">
			<br/>
			<label for="Resumo">Resumo</label>
			<input type="text" name="resumo">
			<br/>
			<label for="Autor">Autor</label>
			<input type="text" name="autor">
			<br/>
			<label for="Data">Data</label>
			<input type="date" name="data_noticia" >
			<br/>
			<label for="Conteúdo Noticia">Conteúdo Noticia</label>
			<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
			<br/>
			<br/>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>